.main {
}
.home {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #a71b52;
  display: flex;
  padding: 0px 24px;
  flex-wrap: wrap;
}
.homeDiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.homeDiv button {
  width: 130px;
  height: 40px;
  border-radius: 7px;
  border: none;
  outline: none;
  margin: 10px;
  cursor: pointer;
}
.image-3d {
  transform: perspective(1000px) rotateY(-10deg) rotateX(10deg);
  width: 400px;
  height: 500px;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); */
}
.whyUsNumber {
  height: 35vh;
  color: #a71b52;
}
.whyUsNumber span {
  font-size: 50px;
}
.vertical-line {
  width: 1px;
  height: 100%; /* Adjust the height as needed */
  background-color: #a71b52; /* Change the color to your preference */
}
.memorySection {
  height: 60vh;
  background-color: #fff7f0;
}
.bestSellers {
  height: 50vh;
  color: #a71b52;
}
.bestSellersSection {
  height: 50vh;
  background-color: #fff7f0;
}
.dFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dFlexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .image-3d {
    width: 240px;
    height: 270px;
  }
  .imgContainer {
    width: 100%;
    height: 47%;
  }
  .homeDiv {
    width: 100%;
    height: 50%;
  }
  .whyUsNumber span {
    font-size: 28px;
  }
  .whyUsNumber p {
    font-size: 12px;
  }
}
